@font-face {
    font-family: "nio";
    src: url('./assets/Nind.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "crang";
    src: url('./assets/Crang.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "bebasneue";
    src: url('./assets/BebasNeue-Regular.ttf');
    font-size: normal;
    font-weight: normal; 
}

@font-face {
    font-family: "ACB";
    src: url('./assets/ACB.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: "BAC";
    src: url('./assets/BAC.ttf');
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: "cool";
    src: url("./assets/coolvetica.ttf");
    font-size: normal;
    font-weight: normal;
}

container{
    display: block;

}



div {
    display: block;
}

h1 {
    font-family: "cool";
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: normal;
    margin: 15px;
}



top {
    display: block;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: #E4113F;
    font-family: "ACB";
    color: white;
}

body {
    margin: 0;

}

diva {
    background-color: black;
    display: block;
}

.footer
{
    position: fixed;
    bottom: 0;
    text-align: right;
}

.column {
    display:table;
    float: left;
    width: 20%;
    padding-left: 30px;
    margin-right: 50px;
    padding-top: 50px;

}

.calumn {
    padding-top: 60px;
    display:table;
    float: left;
    width: 42%;
    padding-right: 50px;
    font-family: "BAC";
    font-size: 80%;
}

.celumn {
    display:table;
    float: right;
    width: 20%;
    padding-left: 30px;
    margin-right: 30px;
    padding-top: 40px;
}

headingly {
    font-size: 60px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
   /*text-orientation: upright;*/
   font-family: 'bebasneue';
   font-size:90px;
   line-height: 75px;

}


button {
    display: block;
}



.ghost:hover {
    transform: translateY(-10px);
}

.ghost {
    width: 100px;
    display: grid;
    transition: transform 0.3s ease 0s;
    padding: 10%;
    padding-bottom: 50px;

} 

.pac {
    width: 75px;
    display: block;
}

#pack {
    padding: 25px 20px;
    border-top: black solid 18px;
    position: fixed;
    top: 0;
    width: 100%

}